@charset "UTF-8";

h1 {
    text-align: center;
}



legend {
    font-size: larger;
}




#submit {
    background-color: white;
    width: 100%;
}


#foo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}



